body {
    font-family: 'Pixelify Sans', sans-serif;
    background-image: url("Paisagem.jpg");
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}